h1 {
	border-color: black;
	border-bottom: 2px solid #333;
	padding-bottom: 10px;
	background-color: rgb(100,180,255);
	text-align: center;
	margin-top: 0px;
	overflow: hidden;
}

h1 #forum {
	font-size: .8em;
	margin-top: 5px;
	float: left;
}

h1 a:hover {
	color: black;
}

#header {
	text-align: center;
	padding-top: 20px;
	font-size: 1.3em;
}

h1 #help {
	float: right;
	float: top;
	font-size: 2em;

}

.sidebar {
	margin-top: 125px;
  width: 130px;
  position: fixed;
  z-index: 1;
  top: 20px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

/* The navigation menu links */
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2em;
    color: black;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: blue;
}

h2 {
	text-align: center;
	font-size: 2em;
	text-decoration: underline;
}

.person {
	text-align: center;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}
.person p{
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}

.person a{
	font-size: 1.4em;
	color: blue;
	margin-top: 10px;
	margin-bottom: 10px;
}

.person a:hover {
	color: black;
}

.connections {
	text-align: center;
	width: 400px;
	margin: 0 auto;
	padding-bottom: 15px;
	border-style: solid;
}
