body{
    margin: 0;
}

.main {
	padding-left:5%;
	padding-right:5%;
}


nav {
	background-color:#FFFFFF !important;
}

.sidenav {
	 height: 100% !important;
}

.jumbotron { 
  padding: 0px; /* fills out the jumbotron */
  background-color: #0cb5ff !important; 	
  color:#FFFFFF;
  margin:0px;
}

section {
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  padding: 20px;;
  width: 400px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu {
	color:#FFFFFF;
	margin:0px;
	padding-left:.5%;
	padding-top:.5%
}

.title {
	text-align:center;
	padding:2.5%;
	margin:0px;
	font-size: 80px;
}

.bottom {
	position: absolute;
    bottom: 0;
}

.classes ul{
	padding: 20px;
	margin:1%;
	font-size: 100%;
}

.classes li {
	padding:2%;
	margin:1%;
	width: 85%;
	border-bottom: 1px solid grey;

}
.posts {
	width: 75%;
}

.posts ul {
	padding:5%;
	margin:1%;
	border-bottom: 1px solid grey;

}

.posts li {
	margin-left:1%;
}
.author {
	color: grey;
	font-size: 80%;
}

.wrapperForum {
	display: grid;
	grid-template-columns: 75% 29%
	grid-gap: 1px;
}
.wrapperProfile{
	display: grid;
	grid-template-columns: 30% 69%;
	grid-gap: 10px;
}

.box{
	padding-left: 2%;
}
.left {
  font-size: 100%;
}
.right {
	font-size: 100%;
}

fieldset {
  border: 0px;
}

textarea {
  border-radius: 3px;
}

#save {
  border-radius: 5px;
  border: 0px;
  color: white;
  background: #0cb5ff;
  padding: 10px;
  padding-top: 6px;
}

input {
  background: white;
  color: rgba(0, 0, 0, 0.87);
  border: 0px;
  padding-left: 32px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  width: 100%;
  text-align: left;
}

input:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}